h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

p.desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #dcdcdc;
  margin-top: 20px;
}
a.brise,
a.closed {
  border: none;
  padding: 0px;
  margin: 0px 10px 0px 0px;
}
.buttons {
  margin-top: 20px;
}

a.closed {
  background: rgba(214, 43, 84, 0.4);
  border-radius: 20px;
  padding: 4px 16px;
  color: #d62b54 !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}
a.coming {
  background: #a68500;
  border-radius: 20px;
  padding: 4px 16px;
  color: #ebd16b !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}
a.open {
  background: #062d18;
  border-radius: 20px;
  padding: 4px 16px;
  color: #b4e197 !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}

a.brise {
  background: #e3ebbd;
  border-radius: 20px;
  padding: 4px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #0f6939 !important;
}

.swap {
  margin-top: 10px;
}
.swap p:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7681ab !important;
}

.swap p:nth-child(2) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.cap {
  margin-top: 10px;
}

.cap p:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7681ab !important;
}

.cap p:nth-child(2) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.progress {
  margin-top: 10px;
}

.progress p:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7681ab !important;
}
.icons .icon {
  margin-top: 10px;
  background: #f0af5c !important;
  margin-right: 5px;
}

.inputs {
  width: 45%;
  margin: 50px auto 50px auto;
}
.input {
  background: transparent;
  border-radius: 67px;
  color: #ffffff !important;
  padding-left: 20px;
  border: solid #f0af5c;
  text-align: center;
}

input::placeholder {
  color: #f0af5c !important;
  padding-left: 20px;
}

.ant-pagination-item {
  border: none;
  background-color: #0f6939;
}
.ant-pagination-item-active {
  font-weight: 500;
  background: #adc737;
  border: none;
}

.ant-pagination-prev button,
.ant-pagination-next button {
  color: #ffffff;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: #0f6939;
  border: none;
  border-radius: 2px;
  transition: all 0.3s;
}

.pagination {
  width: 50%;
  margin: 30px auto 100px auto;
}
.card {
  border: none;
  transition: ease 1s;
}
.card:hover {
  box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 10%);
  border: 1px solid #adc737;
}

.projects {
  text-transform: uppercase;
  text-align: center;
  margin: 100px 0px 70px 0px;
  font-size: 2.5rem;
}

@media only screen and (max-width: 990px) {
  .projects {
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0px 40px 0px;
    font-size: 1.5rem;
  }
}
